.login {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid black 1px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  .container {
    display: block;
    max-width: 520px;
    margin: 0 auto;
    padding: 10px 20px 40px;

    .loginGuide {
      width: 370px;
      height: 50px;
      margin: 20px auto 20px;
      color: #000;
      font-size: 23px;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
    }
  }

  .loginWrap {
    max-width: 520px;
    margin: 0 auto;
    padding: 10px 20px 40px;
    color: #252525;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.8px;
    line-height: 1.5;

    input[type='text'],
    input[type='password'] {
      width: 100%;
      height: 50px;
      margin-top: 20px;
      padding: 0 12px;
      border: 1px solid #e6e6e6;
      border-radius: 6px;
      color: #252525;
      font-size: 14px;
      line-height: 48px;
    }

    .checkBox {
      margin-top: 20px;
    }

    .loginBtn {
      width: 100%;
      height: 50px;
      margin-top: 20px;
      padding: 0 12px;
      border: 1px solid #e6e6e6;
      border-radius: 6px;
      background-color: #5c95f0;
      color: white;
      font-size: 14px;
      letter-spacing: -0.7px;
      line-height: 48px;
      cursor: pointer;
    }

    .disabledBtn {
      width: 100%;
      height: 50px;
      margin-top: 20px;
      padding: 0 12px;
      border: 1px solid #e6e6e6;
      border-radius: 6px;
      color: #969494;
      font-size: 14px;
      line-height: 48px;
      cursor: not-allowed;
    }
    hr {
      border: 0.5px solid #e6e6e6;
    }
    .findMenu {
      margin-top: 20px;
      text-align: center;
      span {
        margin-right: 10px;
        margin-left: 10px;
        color: #969494;
      }
      a {
        color: #969494;
        list-style: none;
        text-decoration-line: none;
      }
    }

    .joinMember {
      width: 100%;
      height: 50px;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0 12px;
      border: 1px solid #e6e6e6;
      border-radius: 6px;
      background-color: white;
      color: #252525;
      font-size: 14px;
      line-height: 48px;
      cursor: pointer;
    }
  }
}
