.pay {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 400px;
  .allWrap {
    h1 {
      height: auto;
      padding: 48px 0 30px;
      font-size: 28px;
      font-weight: 500;
      line-height: initial;
    }

    .orderInfo {
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 50px;
      padding-left: 20px;
      border-top: 2px solid #333;

      .firstSubTitle {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        p {
          font-size: 25px;
        }
        .nameAndPhone {
          margin-right: 32px;
          color: green;
          font-size: 18px;
          font-weight: 350;
        }
      }
      .orderName {
        display: flex;
        margin-bottom: 20px;

        p {
          width: 78px;
          padding-top: 14px;
          padding-right: 34px;
          font-size: 17px;
        }
        input {
          width: 769px;
          height: 40px;
          margin-right: 4px;
        }
      }
      .emailDiv {
        display: flex;
        max-width: 860px;
        margin-bottom: 20px;

        .email {
          padding-top: 14px;
          padding-right: 34px;
          font-size: 17px;
        }
        .emailInputWrap {
          display: flex;
          width: 769px;

          input {
            width: 45%;
            height: 40px;
          }
          .character {
            width: 10%;
            padding-top: 13px;
            padding-right: 15px;
            padding-left: 15px;
          }
          .select {
            width: 45%;
            height: 40px;
          }
          .addInput {
            margin-left: 5px;
          }
        }
      }
      .phoneContainer {
        display: flex;
        max-width: 860px;
        margin-bottom: 20px;
        p {
          padding-top: 14px;
          padding-right: 20px;
          font-size: 17px;
        }
        .phoneWrap {
          display: flex;
          width: 769px;

          input {
            width: 100%;
            height: 40px;
          }
        }
      }
      .orederContainer {
        display: flex;
        max-width: 860px;
        margin-bottom: 20px;
        p {
          padding-top: 14px;
          padding-right: 20px;
          font-size: 17px;
        }
        div {
          display: flex;
          width: 769px;
          input {
            width: 100%;
            height: 40px;
          }
        }
      }
      .info {
        max-width: 860px;
        margin-bottom: 20px;
        div {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 90%;
          height: 70px;
          margin-left: 75px;
          padding-left: 30px;
          background-color: #ededed;
          line-height: 1.4;
          li {
            color: #b8b8b8;
          }
          p {
            font-size: 13px;
            font-weight: 400;
          }
        }
      }
    }
    .deliveryInfo {
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 50px;
      padding-left: 20px;
      border-top: 1px solid #333;
      .secondSubTitle {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        p {
          font-size: 25px;
        }
        button {
          margin-right: 35px;
          transform: translateY(-30%);
          border: 1px solid #ddd;
          border-radius: 4px;
          background-color: white;
          color: #666;
          font-size: 13px;
          line-height: 32px;
          text-align: center;
        }
      }
      .reciverContainer {
        display: flex;
        max-width: 860px;
        margin-bottom: 20px;
        p {
          padding-top: 14px;
          padding-right: 20px;
          font-size: 17px;
        }
        .reciverWrap {
          display: flex;
          width: 780px;
          input {
            width: 100%;
            height: 40px;
          }
        }
      }
      .phoneNumContainer {
        display: flex;
        max-width: 860px;
        margin-bottom: 20px;
        p {
          padding-top: 14px;
          padding-right: 20px;
          font-size: 17px;
        }
        .phoneNumWrap {
          display: flex;
          width: 780px;
          input {
            width: 100%;
            height: 40px;
          }
        }
      }
      .adressContainer {
        display: flex;
        max-width: 860px;
        margin-bottom: 20px;
        p {
          padding-top: 14px;
          padding-right: 20px;
          font-size: 17px;
        }
        .postNum {
          display: flex;
          width: 795px;
          input {
            width: 100%;
            height: 40px;
            margin-left: 15px;
          }
        }
        .reciverAdress {
          display: flex;
          flex-direction: column;
          width: 780px;
          margin-left: 59px;
          input {
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
          }
        }
      }
      .orderRequest {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        height: 100px;
        margin-left: 58px;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        background-color: #ededed;
        line-height: 1.4;
        .selectRequest {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
    .orderProductList {
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      border-top: 1px solid #333;
      .orderWrap {
        //display: flex;
        width: 780px;
        width: 100%;
        padding-left: 70px;
        .title {
          display: flex;
          justify-content: space-between;
          margin-right: 60px;
        }
      }
    }
    .agreement {
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      border-top: 1px solid #333;

      .agreementWarp {
        border: 1px solid #b8b8b8;
        border-radius: 5px;
        .agreementCheckbox {
          padding: 20px;
          border-bottom: 1px solid #b8b8b8;
        }
        .agreementInfo {
          padding: 20px;
          color: #afafaf;
          line-height: 2;
          li {
            margin-bottom: 10px;
          }
        }
      }
    }
    .aside {
      position: absolute;
      position: fixed;
      top: 0;
      right: 0;
      width: 280px;
      margin-top: 120px;
      margin-right: 100px;
      padding: 20px 20px 0 20px;
      overflow: hidden;
      border: 1px solid #333;
      border-radius: 8px;

      .totalPrice {
        div {
          display: flex;
          justify-content: space-between;
          border-bottom: #f4f4f4 solid;
          line-height: 2.1;
        }
        .mileageBalance {
          border-top: black solid 1px;
        }
      }
      .payBtn {
        display: block;
        margin-right: -20px;
        margin-left: -20px;
        .turnOn {
          display: block;
          width: 100%;
          height: 50px;
          border: none;
          background-color: #6c801a;
          color: #fff;
          font-size: 17px;
          font-weight: 500;
          line-height: 50px;
          text-align: center;
          cursor: pointer;
        }
        .turnOff {
          display: block;
          width: 100%;
          height: 50px;
          border: none;
          background-color: #6c801a;
          color: #fff;
          font-size: 17px;
          font-weight: 500;
          line-height: 50px;
          text-align: center;
          cursor: not-allowed;
        }
      }
    }
  }
}
