@import '../../styles/variables';

.mainEvent {
  @include flex($justify: center, $align: center);
  width: 100%;
  height: 600px;
  background-color: #f6f6f6;

  .todaySaleBox {
    width: 50%;
    max-width: 600px;
    height: 80%;
    margin-right: 5px;
    background-color: antiquewhite;
    background-size: cover;
  }
  .mainEventLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    max-width: 600px;
    height: 80%;
    margin-left: 5px;
    .coupon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 49%;

      background-image: url('/images/tea.jpg');
      background-position: center;
      background-size: cover;

      .couponText {
        margin-left: 40px;

        .couponName {
          margin-bottom: 10px;
          font-size: 28px;
        }
        .couponDate {
          font-size: 15px;
        }
      }
    }

    .teaTalkStory {
      width: 100%;
      height: 49%;
      background-image: url('/images/story.JPG');
      background-position: center;
      background-size: 100%;
    }
  }
}
