// @import '../../../styles/variables';

.MenuModal {
  // display: block;
  // position: fixed;
  // z-index: 99;
  border: solid 2px black;

  .MenuModalinner {
    // width: 100%;
    // border: solid 2px black;
    .MenuModalMenu {
      line-height: 3;
      .MenuModalWrap {
        // position: fixed;
        font-size: 20px;
        border: solid 2px black;
        .MenuavbarDropdown {
          width: 150px;
          ul:first-child {
            font-weight: bold;
          }
        }
      }
    }
  }
}
