// @import '../../../styles/variables';

.menuModal {
  position: absolute;
  left: 80%;
  width: 200px;
  padding-left: 30px;
  border: solid 2px rgba(158, 152, 152, 0.35);
  background-color: white;
  font-size: 20px;
  line-height: 3;

  .menuModalContainer {
    .menuModalWrap {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}
