// @import '../../../../styles/variables';

.menuTab11 {
  width: 80%;
  height: 100%;
  border: solid 2px black;

  .navMenuWrap {
  }

  .A1 {
    // height: 80px;
    // padding-top: 30px;
    // border: solid 2px black;
    margin-top: 40px;
    // width: 100px;

    .A2 {
      font-size: 25px;
      // width: 100%;
      // font-weight: bold;
    }
  }
}
// }
