.modalMenuList {
  display: flex;
  flex: 1.8;
  line-height: 3;

  .modalWrap {
    display: flex;
    position: fixed;
    padding-left: 40px;
    font-size: 18px;

    .navbarDropdown {
      width: 150px;

      ul:first-child {
        font-weight: bold;
      }
    }
  }
}
