.navModal {
  display: block;
  position: fixed;
  z-index: 99;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  // justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);

  .modalinner {
    display: flex;
    width: 100%;
    height: 400px;
    // margin-top: 80px;
    padding: 10px;
    // border: solid 2px black;
    background-color: white;

    .modalFirstSpace {
      width: 25%;
      // border: solid 1px black;
    }
    .modalMenu {
      display: flex;
      flex: 1.8;
      // border: solid 1px black;
      line-height: 3;
    }

    .modalImgSpace {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      // border: solid 1px black;

      .modalImg {
        width: 60%;
        height: 80%;
        // border: solid 1px black;
        background-image: url('/images/greentea.JPG');
        background-position: center;
        background-size: cover;
      }
    }

    .modalLastSpace {
      flex: 1;
      // border: solid 1px black;
    }
  }
}
.modalWrap {
  display: flex;
  position: fixed;
  padding-left: 40px;
  font-size: 18px;
}

.navbarDropdown {
  width: 150px;
  // border: solid 1px black;
  ul:first-child {
    font-weight: bold;
  }
}
