.product {
  display: flex;
  // flex: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 20%;
  // height:
  width: 100%;
  // height: 80%;
  // border: solid 5px black;

  .productImgBox {
    width: 90%;
    // border: solid 1px black;

    .productImg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .productInfo {
    width: 90%;
    // height: 100%;
    // border: solid 3px rgb(184, 29, 29);
    // height: %;

    .productTitle {
      margin: 10px;
      // border: solid 1px black;
      // font-size: 20px;
    }
    .productPrice {
      margin: 10px;
      // border: solid 1px black;
      font-weight: bold;
    }
  }
}
