.footer {
  .footerTop {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 10px;
    background-color: #67625d;

    button {
      width: 94px;
      height: 40px;
      margin-top: 6px;
      margin-right: 20px;
      padding: 6px 0;
      border: 1px solid #2a2a2a;
      background: #3f3e3c;
      color: #fff;
      font-size: 15px;
      line-height: 1.6;
      cursor: pointer;
    }

    img {
      width: 50px;
      height: 50px;
      height: auto;
      margin-right: 20px;
      vertical-align: top;
      cursor: pointer;
    }
  }

  .contactInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    background-color: #fafafa;

    .customerService {
      display: flex;
      flex-direction: column;
      max-width: 700px;
      line-height: 2;
    }

    .order {
      display: flex;
      flex-direction: column;
      max-width: 520px;
      line-height: 1.5;
    }

    .imgWrap {
      .linkWrap {
        display: flex;
        margin-top: 10px;
        cursor: pointer;
        img {
          width: 60px;
          height: 60px;
          margin-left: 20px;
        }
      }
      .textWrap {
        display: flex;
        margin-top: 10px;
        div {
          width: 60px;
          height: 60px;
          margin-left: 25px;
          line-height: 1.5;
        }
      }
    }
  }
  .companyInfo {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    line-height: 1.5;
    text-align: center;
  }
}
