@import '../../../styles/variables';

.slider {
  position: relative;
  height: 640px;
  overflow: hidden;

  @media screen and (max-width: 800px) {
    .containerSlider {
      margin: 200px 10px 0;
    }
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity ease-in-out 0.4s;
    opacity: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .alignBox {
      position: absolute;
      top: 50%;
      left: 45%;
      width: 50%;
      max-width: 1320px;
      height: 50%;
      padding: 0 10px;
      transform: translateX(-50%);

      .textBox {
        top: 50%;
        bottom: auto;
        left: 60px;
        padding-top: 50px;
        transform: translateY(-50%);

        .banTitle {
          font-size: 28px;
          letter-spacing: -0.04em;
          line-height: 1.33;
        }

        .onepoint {
          margin-top: 10px;
          font-size: 16px;
        }

        .date {
          margin-top: 12px;
          font-size: 16px;
        }
      }
      .btnEvent {
        position: absolute;
        z-index: 2;
        bottom: 50px;
        width: 110px;
        height: 32px;
        transition: 0.2s ease-in-out;
        border: 1px solid #555;
        border-radius: 4px;
        background-color: transparent;
        color: #333;
        font-size: 13px;
        line-height: 32px;
        cursor: pointer;
        &:hover.btnEvent {
          background-color: #555;
          color: rgb(255, 255, 255);
        }
      }
    }
  }

  .activeAnim {
    opacity: 1;
  }

  .btnSlide {
    @include flex;
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;
      pointer-events: none;
    }
  }

  .prev {
    top: 50%;
    left: 50px;
    transform: translateY(-60%);
  }
  .next {
    top: 50%;
    right: 50px;
    transform: translateY(-60%);
  }
}
