.header {
  font-size: 25px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
}

.container {
  display: block;
  max-width: 520px;
  margin: 0 auto;
  padding: 10px 20px 11px;
  border: solid #e6e6e6 1px;
  border-radius: 10px;
}

.signupGuide {
  width: 380px;
  height: 50px;
  margin: 20px auto 20px;
  color: #000;
  font-size: 23px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  margin: 0 auto;
  padding: 10px 20px;
  color: #252525;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;

  input {
    height: 35px;
    margin-bottom: 20px;
  }
  .pwGreenMsg {
    position: absolute;
    margin-top: 197px;
    color: green;
    font-size: 12px;
  }
  .pwRedMsg {
    position: absolute;
    margin-top: 197px;
    color: red;
    font-size: 12px;
  }

  .eRedMsg {
    position: absolute;
    margin-top: 252px;
    color: red;
    font-size: 12px;
  }
  .eGreenMsg {
    position: absolute;
    margin-top: 252px;
    color: green;
    font-size: 12px;
  }
}

.gender {
  display: flex;
  max-width: 520px;
  margin: 0 auto;
  padding: 10px 20px;
  color: #252525;
  font-size: 16px;
  font-weight: 400;
}

.checkboxWrap {
  display: block;
  max-width: 520px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 20px 40px;
  border: solid #e6e6e6 1px;
  border-radius: 10px;

  .termsCheckList {
    display: flex;
    margin-left: 10px;
    .modalBtn {
      width: 20px;
    }
  }
}

.btnWarp {
  display: flex;
  justify-content: center;

  .exitSignup {
    width: 261px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 12px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    background-color: #e6e6e6;
    color: #252525;
    font-size: 17px;
    line-height: 48px;
    cursor: pointer;
  }
  .button {
    width: 261px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 3px;
    padding: 0 12px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    background-color: #5c95f0;
    color: white;
    font-size: 17px;
    line-height: 48px;
    cursor: pointer;
  }
  .disabledBtn {
    width: 261px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 3px;
    padding: 0 12px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    background-color: #e6e6e6;
    color: #252525;
    font-size: 14px;
    line-height: 48px;
    cursor: not-allowed;
  }
}
