@import '../../styles/variables';

.nav {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;

  background-color: white;
  color: black;

  .startHeader {
    width: 15%;
    height: 50px;

    .logo {
      width: 80%;
    }
  }

  .secondHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 100%;

    .navMenuWrap {
    }

    .navMenu {
      height: 80px;
      padding-top: 30px;

      .navMenuTitle {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .thirdHeader {
    @include flex($justify: right, $align: center);
    width: 40%;
    height: 100%;
    // border: solid 1px black;

    .cartWrap {
      @include flex($align: center);
      height: 100%;

      .cartImg {
        height: 30px;
        margin: 20px;
      }
    }
    .infoWrap {
      display: flex;
      align-items: center;
      height: 100%;

      .infoImg {
        height: 30px;
        margin: 20px;
      }
    }
  }
  .endHeader {
    @include flex($justify: center, $align: center);
    width: 5%;
    height: 100%;

    .endHeaderLogin {
      width: 50px;
      margin: auto;
    }
  }
}
